<div class="container">
  <div class="row dashboard-content">

    <div class="row">
      <div class="row" style="margin: 1% 0; padding: 0">
        <div class="col-12 page__history">
      <span style="margin: 0; padding: 0;" class="hover-link">
        <span [routerLink]="'/'">Главная страница</span><span class="page__history__last"
                                                              style="margin-left: 3px"> /</span>
        </span>
          <span style="margin: 0; padding: 0;" class="hover-link">
        <span [routerLink]="'/a/agreement'">Акции</span><span class="page__history__last"
                                                              style="margin-left: 3px"> /</span>
      </span>
        </div>
      </div>
    </div>

    <div class="col-lg-12  col-md-12 total-offers-title">
      <h2>Акции</h2>
      <div class="row mobile-row" style="margin-top: 20px;">

        <div *ngFor="let i of promotions" class="col-xl-5 col-sm-5 col-5 catalog__item card-custom">
          <div class="card-custom-image-block">
            <img *ngIf="i.images && i.images[0] && i.images[0].data"
                 [src]="'data:image/png;base64,' + i.images[0].data" alt=""
                 [routerLink]="['detail', i.id]" height="100%">
            <img *ngIf="i.images && i.images.length == 0" src="/assets/no-image-1.jpg"
                 [routerLink]="['detail', i.id]" height="100%">
          </div>
          <div class="row ml-1" style="float: left">
            <b *ngIf="i.title">{{i.title}}</b>
          </div>
          <br>
          <div class="row card-custom-footer">
              <span>
                <p>{{i.description}}</p>
              </span>
            <span>{{i.publishedDate|date:'dd.MM.yyyy'}} - {{i.expirationDate|date:'dd.MM.yyyy'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
