<div class="footer">
<!--  <div class="footer-head">-->
<!--    <div class="container">-->

<!--      <div class="row">-->
<!--        <div class="col-lg-auto col-md-12">-->
<!--          <div class="subscription__text  ">-->
<!--            <h5 class="heading">Подписывайтесь и будьте в курсе всех новостей!</h5>-->
<!--            <p class="subscription__text&#45;&#45;small">Никакого спама, только самое интересное =)</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-auto col-md-12 flex-lg-grow-1 footer-input">-->
<!--          <input type="text" placeholder="Ваш email">-->
<!--          <button class="b-btn b-btn&#45;&#45;orange" type="submit" id="asd_subscribe_submit">-->
<!--            <span class="b-btn__inner">Получить интересные новости</span>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="b-footer--bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-3 col-sm-3">
          <!--        <img class="logo" src="/assets/limma.png">-->

          <div class="b-footer__desc">Limma — интернет-магазин надёжных б/у товаров</div>
          <div class="b-footer__copyright">© 2020</div>
        </div>
<!--        <div class="col-lg-auto col-md-auto col-sm-auto">-->
          <div class="col-lg-6 col-md-9 col-sm-9">
          <ul class="b-footer__menu" style="display: inline-block">
            <li class="b-footer__menu-item">
              <span class="b-footer__menu-link" [routerLink]="'a/agreement'">Пользователькое соглашение</span>
            </li>
<!--            <li class="b-footer__menu-item">-->
<!--              <span class="b-footer__menu-link" [routerLink]="'d/delivery'">Доставка и оплата</span>-->
<!--            </li>-->
            <li class="b-footer__menu-item">
              <span class="b-footer__menu-link" [routerLink]="'p/promotions'">Скидки и акции</span>
            </li>
            <li class="b-footer__menu-item">
              <span class="b-footer__menu-link" [routerLink]="'p/partners'">Партнерам</span>
            </li>
<!--            <li class="b-footer__menu-item">-->
<!--              <span class="b-footer__menu-link" [routerLink]="'a/about'">О нас</span>-->
<!--            </li>-->
<!--            <li class="b-footer__menu-item">-->
<!--              <span class="b-footer__menu-link" [routerLink]="'c/contacts'">Контакты</span>-->
<!--            </li>-->
<!--            <li class="b-footer__menu-item">-->
<!--              <span class="b-footer__menu-link">Отзывы</span>-->
<!--            </li>-->
          </ul>
            <ul class="b-footer__menu" style="display: inline-block">
<!--              <li class="b-footer__menu-item">-->
<!--                <span class="b-footer__menu-link" [routerLink]="'a/agreement'">Пользователькое соглашение</span>-->
<!--              </li>-->
<!--              &lt;!&ndash;            <li class="b-footer__menu-item">&ndash;&gt;-->
<!--              &lt;!&ndash;              <span class="b-footer__menu-link" [routerLink]="'d/delivery'">Доставка и оплата</span>&ndash;&gt;-->
<!--              &lt;!&ndash;            </li>&ndash;&gt;-->
<!--              <li class="b-footer__menu-item">-->
<!--                <span class="b-footer__menu-link" [routerLink]="'p/promotions'">Скидки и акции</span>-->
<!--              </li>-->
<!--              <li class="b-footer__menu-item">-->
<!--                <span class="b-footer__menu-link" [routerLink]="'p/partners'">Партнерам</span>-->
<!--              </li>-->
              <li class="b-footer__menu-item">
                <span class="b-footer__menu-link" [routerLink]="'a/about'">О нас</span>
              </li>
              <li class="b-footer__menu-item">
                <span class="b-footer__menu-link" [routerLink]="'c/contacts'">Контакты</span>
              </li>
              <li class="b-footer__menu-item">
                <span class="b-footer__menu-link">Отзывы</span>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
