<div class="container">
  <div class="row dashboard-content">

    <div class="row">
      <div class="row" style="margin: 1% 0; padding: 0">
        <div class="col-12 page__history">
      <span style="margin: 0; padding: 0;" class="hover-link">
        <span class="hover-link" [routerLink]="'/'">Главная страница</span><span class="hover-link"
                                                                                 style="margin-left: 3px"> /</span>
      </span>
          <span style="margin: 0; padding: 0;" class="hover-link">
          <span [routerLink]="'/a/about'">О нас</span><span class="page__history__last"
                                                            style="margin-left: 3px"> /</span>
          </span>
        </div>
      </div>
    </div>

    <div class="col-lg-12  col-md-12 total-offers-title">
      <div class="row mobile-row" style="margin-top: 20px;">
        <h2 style="width: 100%">О нас</h2>
        <p class="m-0">Приобретение б/у товаров — распространенное явление.</p>
      </div>
    </div>
  </div>
</div>
