<div class="container">
  <div class="row dashboard-content">

    <div class="row">
      <div class="row" style="margin: 1% 0; padding: 0">
        <div class="col-12 page__history">
      <span style="margin: 0; padding: 0;" class="hover-link">
        <span [routerLink]="'/'">Главная страница</span><span class="page__history__last"
                                                              style="margin-left: 3px"> /</span>
      </span>
          <span style="margin: 0; padding: 0;" class="hover-link">
        <span [routerLink]="'/a/agreement'">Пользовательское соглашение</span><span class="page__history__last"
                                                                                    style="margin-left: 3px"> /</span>
      </span>
        </div>
      </div>
    </div>

    <div class="col-lg-12  col-md-12 total-offers-title">
      <div class="row mobile-row" style="margin-top: 20px;">
        <h2>Пользовательское соглашение</h2>
        <p class="m-0">ТОО «Limma.kz» (далее Исполнитель и / или Компания) публикует данный Публичный договор
          (соглашение и / или Предложения) о предоставлении услуг на интернет-сайте Исполнителя limma.kz </p>
        <p class="m-0">В этой оферте, если контекст не требует иного, нижеприведенные термины имеют следующие
          значения:</p>
        <p class="m-0"><strong>Предложение</strong> — публичное предложение Исполнителя, адресованное любому
          дееспособному физическому и / или юридическому лицу, заключить с ним Публичный договор о предоставлении услуг
          по пользованию сайтом / сайтами на условиях, содержащихся в настоящем Соглашении, включая все его приложения;
        </p>
        <p class="m-0" style="width: 100%"><strong>Акцепт</strong> — полное принятие Пользователем условий Соглашения;</p>
        <p class="m-0"><strong>Исполнитель </strong> — ТОО «Limma МАРКЕТИНГ»;</p>
        <p class="m-0"><strong>Заказ</strong> — оформленная Пользователем заявка на приобретение товара (-ов) через
          корзину на Сайте с указанием персональных данных.</p>
        <p class="m-0"><strong>Сайт</strong> — интернет-сайт limma.kz, который администрируется компанией и представляет
          собой коммуникационную платформу для размещения временных объявлений о Товарах, которые размещаются Продавцами
          с целью их реализации, классифицируемых, или тех, которые могут классифицироваться (далее — Сайт, или Сайты)
        </p>
        <p class="m-0"><strong>Пользователь</strong> — лицо, которое просматривает информацию на Сайте или заказывает и
          получает Товары с использованием инструментов сайта, приняло условия настоящего Соглашения и пользуется
          услугами компании. Получатель и Плательщик являются пользователями.</p>
        <p class="m-0"><strong>Товар</strong> — любой материальный объект, потребительский продукт, который находится в
          собственности Продавца, либо на других законных правах, который размещает Товар на онлайн-платформе Limma! с
          целью его продажи. Продавцом возможна реализация Товара на Сайте, продажа которого не запрещена, не ограничена
          в соответствии с законодательством Украины, а также не противоречит лицензионному договору;</p>
        <p class="m-0"><strong>Услуга</strong>— любая операция, не являющаяся поставкой товаров, связанная с размещением
          временных объявлений, классифицируемых, или тех, которые могут классифицироваться, с предоставлением сервиса,
          который используется в процессе совершения определенного действия (осуществление определенной деятельности),
          для удовлетворения личных потребностей пользователя;</p>
        <p class="m-0"><strong>Плательщик</strong> — лицо, которое оплачивает Товар.</p>
        <p class="m-0"><strong>Продавец</strong> — юридическое, физическое (прошедшее верификацию), либо физическое
          лицо-предприниматель, идентифицированное Компанией путем предоставления Продавцом Персональных данных Компании
          при Регистрации, размещающее на Сайте либо на любых других сайтах Компании информацию о товарах / услугах,
          которая реализуется с согласия Продавца, а также информацию о Товарах, полученную от Продавца из других
          ресурсов, сайтах Компании, которую Компания использует на своем Сайте с согласия Продавца. Продавцом может
          быть любое лицо, которому Компания предоставила разрешение на размещение сведений о товаре. Наименование
          Продавца указывается в документах на передачу Товара Получателю (акте приема-передачи или других документах,
          подтверждающих факт передачи Товара Получателю).</p>
        <p class="m-0"><strong>Предложение / объявления</strong> — данные о конкретном Товаре, размещенном на Сайте,
          который может быть приобретен Пользователем. Предложение включает в себя: информацию о самом товаре и его
          особенности, основные свойства, информацию о его цене, способы оплаты и доставки, а также другие условия
          приобретения товара потребителем. Условия Предложения определяются Продавцом. Предложение не является офертой,
          а лишь информацией о возможных условиях приобретения товара.</p>
        <p class="m-0"><strong>Учетная запись / аккаунт</strong> — электронный кабинет пользователя в функциональной
          системе Сайтов, который обеспечивает доступ к «учетной записи» и позволяет просматривать историю заказов.
          Пользователь обязуется не использовать учетную запись для совершения противозаконных действий, а также
          действий, нарушающих права или интересы третьих лиц. В случае нарушения данного правила Пользователь обязуется
          возместить сайту все расходы, понесенные в связи с такими действиями. Учетной записью / аккаунтом может
          пользоваться только один Пользователь, передача данных для доступа к учетной записи / аккаунту другому
          пользователю (другому лицу) не допускается;
        </p>
        <p class="m-0"><strong>Личный кабинет</strong> — место в Учетной записи на Сайте отдельного Пользователя, в
          котором содержится информация о его персональных данных, история проведенных сделок с его участием, а также
          другая полезная и статистическая информация.</p>
        <p class="m-0"><strong>Получатель </strong>— лицо, указанное Плательщиком в качестве лица, уполномоченного
          получить Товар в соответствии с Заказом. Если иное не указано в форме Заказа, Получателем является Плательщик.
        </p>
        <p class="m-0"><strong>Регистрация </strong>— заполнение Пользователем соответствующих форм сайта и получение
          логина и пароля для доступа к учетной записи.</p>
        <p class="m-0"><strong>Персональные данные</strong> — это сведения или совокупность сведений о пользователе, с
          помощью которых он идентифицирован, или может быть конкретно идентифицирован.</p>
        <h3 style="width: 100%">Общие положения</h3>
        <p class="m-0">1. Сайт является торговой платформой для размещения временных объявлений.</p>
        <p class="m-0">2. Все сделки заключаются между Пользователями и Продавцами напрямую. Таким образом, Компания не
          является участником сделок пользователей и продавцов, а лишь предоставляет коммуникационную торговую платформу
          для размещения временных объявлений, кроме случаев, когда Компания является Продавцом</p>
        <p class="m-0">3. Компания не является организатором / инициатором соглашения между пользователями и продавцами.
          Сайт является торговой, коммуникационной платформой, которая позволяет Продавцам размещать товары для
          реализации, а Пользователям — покупать разрешенные законом товары и услуги в любое время, откуда угодно и по
          любой цене.</p>
        <p class="m-0">4. Продавцом на Сайте может быть любой субъект хозяйственной и предпринимательской деятельности,
          зарегистрированный в соответствии с действующим законодательством Украины, либо законодательством той страны,
          резидентом, которой он является.
        </p>
        <p class="m-0">5. Если Пользователь не согласен с Соглашением полностью или частично, Исполнитель просит его
          покинуть данный Сайт. Эти условия регулируют использование Пользователем сайтов компании. Использование сайта
          Исполнителя означает, что Пользователь ознакомлен с настоящим Соглашением, понимает и принимает все его
          условия.

        </p>
        <p class="m-0">6. Пройдя процедуру регистрации, Пользователь подтверждает свою дееспособность и принятие условий
          Соглашения в полном объеме, без каких-либо оговорок и исключений. В случае несогласия Пользователя с любыми из
          положений этого соглашения, Пользователь не имеет права использовать Сайты Компании.

        </p>
        <p class="m-0">7. Перед началом сотрудничества с Компанией каждый Продавец должен заключить лицензионный договор
          или другой договор, согласно требований Компании. Для оформления договора Компания в праве потребовать от
          Продавца соответствующие документы, подтверждающие регистрацию его как субъекта хозяйственной деятельности.

        </p>
        <p class="m-0">8. Компания не несет ответственности за содержание объявлений или гиперссылок на ресурсы,
          указанные в описании сообщений Продавцов.

        </p>
        <p class="m-0">9. Предметом объявлений могут быть товары, реализация которых не запрещена и не ограничена в
          соответствии с законодательством страны, в которых они реализуются, а также не противоречит настоящему
          Соглашению.

        </p>
        <p class="m-0">10. При размещении объявлений пользователи сайта предоставляют Компании право на обработку их
          персональных данных на условиях, предусмотренных в Приложении № 1 к настоящему Соглашению.
        </p>
        <p class="m-0">11. Компания использует обезличенные данные для таргетинга рекламных и / или информационных
          материалов по возрасту, полу, другим данным; для проведения статистических исследований и подобных целей.
          Пользователь соглашается с тем, что Компания вправе передавать третьим лицам любые обезличенные данные, не
          позволяющие прямо или косвенно идентифицировать лицо пользователя, в том числе, но не ограничиваясь этим,
          передавать обезличенные данные системам показа рекламы, в том числе Google Adsense.
        </p>
        <p class="m-0">12. Компания вправе передать персональные данные, базу персональных данных, в которую включены
          персональные данные пользователя, полностью или частично третьим лицам без уведомления об этом пользователя в
          следующих случаях: лицам, в ведение, владение или собственность которых переданы Сервис или сайт; лицам,
          являющимся связанными / аффилированными с Компанией; новому владельцу сайта и / или Сервиса Компании для
          обработки в целях, предусмотренных настоящим Соглашением; другим пользователям сервисов (как физическим, так и
          юридическим лицам), если в Сервисе предусмотрен соответствующий функционал.</p>
        <h3>Обязательства Продавца</h3>
        <p class="m-0">1. Продавец имеет возможность размещать на Сайте неограниченное количество объявлений с целью
          реализации Товаров через Сайт Компании.
        </p>
        <p class="m-0">2. Продавец дает право на использование предоставленного материала Сайтом и Компанией. Компания
          оставляет за собой право отказать Продавцу в размещении объявления на Сайте Компании.
        </p>
        <p class="m-0">3. Продавцу запрещается размещать на Сайте для продажи товары и услуги, реализация которых
          нарушает действующее законодательство Украины или права третьих лиц (включая авторские, интеллектуальные права
          и иные права) и в полном объеме самостоятельно несет юридическую и иную ответственность за такие действия.
          Компания вправе в случае обнаружения таких товаров блокировать их размещение на Сайте.
        </p>
        <p class="m-0">4. Продавец несет полную ответственность относительно своих товаров (их ассортимент, наличие,
          комплектацию, качество и соответствие описанию товара), которые реализуются через Сайт, а также в части взятых
          на себя обязательств по сделке с покупателем (пользователем) и не может перекладывать ее на третьих
          лиц-поставщиков, курьеров, производителей, Компанию).
        </p>
        <p class="m-0">5. Также Продавец несет полную ответственность за полноту и достоверность описания реализуемого
          Товара через Сайт Компании.
        </p>
        <p class="m-0">6. Компания не является участником сделок между Продавцом и покупателями Товара, а всего лишь
          предоставляет торговую платформу (Сайт) для размещения временных объявлений Продавца, не вмешивается в ход
          сделок между продавцами и покупателями, не отвечает по обязательства сторон в сделке, не несет ответственности
          за любые их действия / бездействия.
        </p>
        <p class="m-0">7. Описание Товара размещаемое Продавцом, не должно:

          — вводить покупателя в заблуждение;

          — содержать недостоверную, неправдивую, противоречивую и неподтвержденную информацию;

          — нарушать права сторон сделки, Компании или третьих лиц;

          — содержать контактную информацию (номера телефонов, e-mail и т. п.);

          — содержать информацию и ссылки на страницы, которые содержат информацию рекламного

          — характера других продавцов или третьих лиц;

          — нести рекламный характер (рекламировать товары и услуги третьих лиц или товары самого продавца,
          неопубликованные на сайте);

          — содержать информацию и ссылки на страницы, которые могут содержать информацию рекламного характера другого
          (-их) продавца (-ов);

          — содержать информацию о сторонних сайтах, торговых площадках, магазинах;

          — содержать предложения об обмене;

          — содержать информацию, которая не относится к выставленному товару;

          — содержать информацию, относящуюся к оскорблениям, расизму, ксенофобии, а также разжиганию межнациональных
          конфликтов.
        </p>
        <p class="m-0">8. Администрация Компании имеет право редактировать описание Товаров Продавца, либо блокировать
          реализацию Товара Продавца, если оно не соответствует, условиям указанным выше.
        </p>
        <p class="m-0">9. Продавец несет ответственность за предоставление отчетности в налоговые органы касательно
          полученных доходов в ходе реализации Товаров через Сайт Компании в порядке, предусмотренном действующим
          законодательством Украины. Компания не несет никакой ответственности за данные действия Продавца и в случае
          поступления соответствующего запроса компетентного государственного органа, вправе предоставлять информацию о
          количестве совершенных сделок, сумму сделок, а также другую необходимую информацию.
        </p>
        <p class="m-0">10. При этом Компания может в любой момент проверять ход сделки, ход выполнения сторонами своих
          обязательств и в случае выявления нарушений со стороны Продавца, может применить соответствующие меры к
          нарушителю, такие как удаление / блокировка объявлений товаров, блокировка Учетной записи Продавца, либо в
          крайних случаях — удаление Учетной записи.</p>
      </div>
    </div>
  </div>
</div>
