<div class="container">
  <div class="row dashboard-content">

    <div class="row">
      <div class="row" style="margin: 1% 0; padding: 0">
        <div class="col-12 page__history">
      <span style="margin: 0; padding: 0;" class="hover-link">
        <span [routerLink]="'/'">Главная страница</span><span class="page__history__last"
                                                              style="margin-left: 3px"> /</span>
        </span>
          <span style="margin: 0; padding: 0;" class="hover-link">
        <span [routerLink]="'/a/agreement'">Доставка и оплата</span><span class="page__history__last"
                                                                          style="margin-left: 3px"> /</span>
      </span>
        </div>
      </div>
    </div>

    <div class="col-lg-12  col-md-12 total-offers-title">
      <div class="row mobile-row" style="margin-top: 20px;">
        <h2>Доставка и оплата</h2>
        <p class="m-0">После оформления заказа наш менеджер перезвонит вам для подтверждения. Вы всегда можете уточнить
          возможные способы оплаты и доставки, выбрав наиболее удобный вариант</p>
        <h2 class="mt-1">Как получить заказ</h2>
        <div class="card mb-3" style="border: 0; margin-top: 20px">
          <div class="row no-gutters">
            <div class="col-3">
              <img src="https://boo.ua/local/templates/blago/images/selfLifting.jpg">
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title">Самовывоз</h5>
                <p class="card-text">Приходите в пункт выдачи, детально проверяете заказанный товар, оформляете
                  документы на покупку и оплачиваете заказ, если все подходит</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="border: 0; margin-top: 20px">
          <div class="row no-gutters">
            <div class="col-3">
              <img src="https://posylka.net/uploads/couriers/large/kazpost.png" style="height: 263px;width: 263px">
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title">ДОСТАВКА «КАЗ ПОЧТОЙ»</h5>
                <p class="card-text">В этом случае нужно при оформлении заказа указать номер отделения, город и
                  телефон получателя. Обязательно проверяйте работу всех функций товара на месте. После проверки
                  оплачивайте. Вместе с заказом вам выдадут чек и оплаченную накладную доставки. Если у вас не
                  получается забрать заказ за 5 дней с момента доставки в отделение — он уедет обратно продавцу. Если
                  хотите, чтобы заказ вас подождал — сообщите об этом продавцу. В некоторых случаях для доставки
                  товара предполагается полная или частичная предоплата. Эти детали сообщит наш менеджер, при
                  звонке</p>
              </div>
            </div>
          </div>
        </div>
        <h2>КАК ОПЛАТИТЬ ЗАКАЗ
        </h2>
        <h3>Безопасная сделка
        </h3>
        <br>
        <p class="mt-0">
          1. Ставите отметку при оформлении заказа</p>
        <p class="mt-0">
          2. Переходите на страницу платежной системы</p>
        <p class="m-0">
          3. Вводите реквизиты карты (мы не видим и не собираем эти данные)</p>
        <p class="m-0">
          4. Оплачиваете</p>
        <p class="m-0">
          5. Деньги блокируются на вашем счету</p>
        <p class="m-0">
          6. Вы получаете товар</p>
        <p class="m-0">
          7. Деньги списываются</p>
        <p class="m-0">Если вы отказались от получения товара — деньги на вашем счету будут разблокированы. Срок
          разблокировки зависит от вашего банка</p>
      </div>
    </div>
  </div>
</div>
